* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(270deg, rgb(108, 204, 241), rgb(237, 150, 150) 50%, rgb(233, 177, 155) 75%);
	font-family: 'Montserrat', sans-serif;
	position: relative;
	scroll-behavior: auto;
	border: 1px solid rgb(108, 204, 241);
}
.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	height: 100px;
}
.menu button,
.note-panel .save,
.note-panel .cancel {
	padding: 12px 25px;
	background: none;
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 14px;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}
.menu button:hover,
.note-panel .save:hover,
.note-panel .cancel:hover {
	background-color: #333;
	color: #ddd;
}
.icon {
	margin-right: 10px;
}

aside {
	/* border: 1px solid black; */
	position: absolute;
	top: 20%;
	height: 500px;
	padding: 10px 20px;
}
.add {
	position: relative;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px dashed black;
	/* background-color: white; */
	margin: 40px 20px;
	cursor: pointer;
	padding: 20px;
}
.add i {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 24px;
}

.color {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 20px 20px;
	cursor: pointer;
	transition: transform 0.3s;
	transform: translateX(-150px);
}
.color-all {
	transition: transform 0.3s;
}
.show {
	transform: translateX(0);
}
.red {
	background-color: rgb(255, 0, 0);
}
.blue {
	background-color: rgb(0, 0, 255);
}
.green {
	background-color: rgb(0, 128, 0);
}
.purple {
	background-color: rgb(198, 5, 198);
}
.gold {
	background-color: rgb(255, 215, 0);
}
.note-area {
	margin-left: 100px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}
.note {
	margin: 40px 20px;
	width: 240px;
	background-color: rgb(255, 243, 0);
	border: 1px solid black;
}
.section-name {
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 25px;
}
.note-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
}
.note-header .delete-note {
	background: none;
	font-size: 20px;
	border: none;
	cursor: pointer;
}
.note-title {
	color: #fff;
	align-content: center;
}
.note-body {
	padding: 20px 15px;
	font-size: 14px;
}
.note-panel {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px 0;
	width: 600px;
	background-color: #fff;
	box-shadow: 0 0 10px black;
	border-radius: 5px;
}
.note-panel h2 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 36px;
}
.note-panel label {
	margin-bottom: 10px;
}
.note-panel #text {
	margin-bottom: 20px;
	padding: 10px 20px;
	width: 100%;
	max-width: 90%;
	max-height: 600px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid black;
}
.note-panel .error {
	margin-bottom: 20px;
	color: red;
	visibility: hidden;
}

@media (min-width: 375px) {
	.menu {
		height: 50px;
		padding: 5px;
	}
	.menu h1 {
		font-size: 14px;
		margin-right: 5px;
	}
	.menu-buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
	}
	.menu button {
		font-size: 12px;
		padding: 5px 15px;
	}
	.icon {
		margin-right: 2px;
		margin-top: 2px;
	}
	aside {
		top: 5%;
		padding: 5px 10px;
	}
	.add {
		margin: 40px 0;
	}
	.color {
		margin: 20px 0;
	}
	.note-area {
		margin-left: 50px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(10, 1fr);
	}
	.note {
		margin: 10px 25px;
	}
	.note-panel {
		width: 350px;
	}
	.note-panel h2 {
		font-size: 25px;
	}
	.section-name {
		font-size: 20px;
	}
}
@media (min-width: 768px) {
	.menu {
		height: 100px;
		padding: 40px;
	}
	.menu h1 {
		font-size: 24px;
		margin-right: 5px;
	}
	.menu button {
		padding: 12px 25px;
		font-size: 14px;
	}
	.note-panel {
		width: 600px;
	}
	.note-panel h2 {
		font-size: 36px;
	}
	.section-name {
		font-size: 25px;
	}
	aside {
		top: 20%;
		padding: 10px 20px;
	}
	.add {
		margin: 40px 20px;
	}
	.color {
		margin: 20px 20px;
	}
	.note-area {
		margin-left: 100px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}
@media (min-width: 992px) {
	.menu h1{
		font-size: 48px;
	}
	.note-area {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
}
@media (min-width: 1200px) {
	.note-area {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}
